.container {
  width: 90%;
  margin: 0 auto;
}
header {
  position: relative;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.listItems {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin-bottom: 0;
  line-height: 45px;
}
.listItems li {
  padding-right: 10px;
}
.listItems li:nth-child(4) {
  line-height: 1.5;
  border: 1px solid #18065d;
  box-sizing: border-box;
  padding: 8px 24px;
  font-weight: bold;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
  line-height: 19px;
  color: #18065d;
}
.navWrapper {
  padding: 5px 0;
}
.listItems li a {
  color: #000;
}
.lang {
  display: flex;
  justify-content: center;
  align-items: center;
}
.lang p {
  margin: 0;
  margin-right: 3px;
}

@media only screen and (min-width: 576px) and (max-width: 655px) {
  .listItems {
    line-height: 1.5;
    padding: 10px 0;
  }
}
@media only screen and (max-width: 800px) {
  .listItems li:nth-child(4) {
    padding: 5px;
  }
}
@media only screen and (max-width: 490px) {
  .listItems {
    line-height: 1.5;
    flex-wrap: wrap;
    padding: 10px 0;
  }
  .listItems li {
    padding: 10px;
  }
  .logo {
    padding-top: 10px;
  }
}
