.container_footer {
  width: 90%;
  margin: 0 auto;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #18065d;
  padding: 25px 0;
}
.footer p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}
.footer_Row {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
.footer_Row > * {
  margin: 10px 0;
}
.social {
  margin-top: 10px;
}
.social img {
  margin-right: 15px;
}
.copy {
  text-align: center;
  margin: 0;
}
